main {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBnQFBwzQtIAn1UbyNFC1QR95xNCD-WNgcpjT_O-FzM597dvPYZFf2Yk11g9NHRjwAFqSfp0sWuxlSZpTa7wHh5wfkU8JBDkhsI0d-9npUOYWExvydKKmdSD7H1cBoUSBdyqbTaHFkeW5ruinpQ5mU_8SpT4h8oy5KYbpLzP9hh1Gn0-eUsjDhJ-2h33W2KX-7cHPclzPDTFQz_ud-Bep-A6zKv_HRTUsjzTa3tKRcXlMT2dadoS8cd4-Oz2oSOaYCkueYIg7UQBiY');
    background-size: cover;
    background-position: center;
}