<section class="w-full space-y-4">

  <!-- Vista desktop: listado de categorías como chips -->
  <div
    class="
      hidden sm:flex items-center justify-center gap-3 flex-wrap rounded-xl bg-white/70 backdrop-blur border border-gray-200 px-4 py-3 shadow-sm
    "
  >
    <button
        (click)="add('all')"
        [class.bg-[#42b0cc]]="CategorySelect() === 'all'"
        class="px-4 py-2 rounded-full text-sm font-medium text-gray-700  hover:bg-indigo-100 hover:text-indigo-700 transition whitespace-nowrap"
        >
        Todos
    </button>


    <!-- Chips dinámicos por categoría -->
    @for (item of categoryList(); track item.id) {
      <button
  (click)="add(item.name)"
  [ngClass]="{
    'bg-[#42b0cc] text-white': CategorySelect() === item.name,
    'bg-gray-100 text-gray-700': CategorySelect() !== item.name
  }"
  class="px-4 py-2 rounded-full text-sm font-medium hover:bg-indigo-200 hover:text-indigo-700 transition whitespace-nowrap"
>
  {{ item.name }}
</button>

    }
  </div>

  <!-- Vista mobile: selector desplegable de categorías -->
  <div class="sm:hidden flex justify-center">
    <div class="relative w-72">
      <select
        (change)="add(categorySelect.value)"
        #categorySelect
        class="w-full appearance-none rounded-xl border border-gray-300 bg-white py-2.5 pl-4 pr-10 text-smtext-gray-700 shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-100
        "
      >
        <!-- Opción placeholder -->
        <option disabled selected>Categorías</option>

        <!-- Opción: mostrar todos -->
        <option [value]=`all`>Todos</option>

        <!-- Opciones dinámicas por categoría -->
        @for (item of categoryList(); track item.id) {
          <option [value]="item.name">{{ item.name }}</option>
        }
      </select>

      <!-- Ícono decorativo de despliegue -->
      <span
        class=" pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 text-gray-400
        "
      >
        ▼
      </span>
    </div>
  </div>

</section>
